h1 {
    color: goldenrod;
}

body {
    text-align: center;
    background-image: url("images/table.png");
    background-size: cover;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#message-el {
    font-style: italic;
}

button {
    width: 150px;
    background-color: goldenrod;
    color: #016f32;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    padding: 5px 0px;
}

#draw-card-btn {
    display: none;
}